@media screen and (max-width: 650px) {
    .intro {
        align-items: center;
        flex-direction: column-reverse;
        height: auto !important;
    }
    .intro-content {
        margin-top: -3rem;
        padding: 1rem !important;
        text-align: center;
    }
    .hello {
        font-size: 1.5rem !important;
    }
    .introPara {
        font-size: 1rem;
    }
    .bg {
        border-radius: 50%;
        height: 150px !important;
        margin-top: 4rem !important;
        right: 0 !important;
        width: 150px !important;
    }
}
@media screen and (max-width: 740px) {
    .desktopMenu, .desktopMenuBtn {
        display: none !important;
    }
    .menu {
        display: flex;
    }
}

